vendor/
node_modules/
public/js/app.js
public/js/app.js.map
public/js/admin/
public/css/app.css
public/css/app.css.map
public/css/admin/reports.css
public/css/admin/reports.css.map
public/css/admin/admin.css
public/css/admin/admin.css.map
public/mix-manifest.json
.env
.git/
storage/logs/*.log
storage/framework/cache/data/
storage/framework/sessions/*
storage/framework/views/*.php
bootstrap/cache/*.php
