/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/*.sublime-workspace
/public/vendor/
*.map
/public/packages/backpack/
/public/css/*.css
/public/js/*.js
/sftp-config.json
/public/uploads/
/public/fonts
/public/mix-manifest.json
/public/sftp-config.json
/public/sw.js
/public/css/admin/*.css
/public/js/admin/*.js
/.push.settings.jsonc
